.mui-card {
    font-size: 14px;
    position: relative;
    overflow: hidden;
    margin: 0px;
    border-radius: 0px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0)
}

.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc
}

ul,
li {
    list-style: none;
}

.slider_box .mui-slider {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    padding: 20px 0 40px;
}

.slider_box .mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: 0
}

.slider_box .mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
    border-top: 1px solid #c8c7cc;
    border-bottom: 1px solid #c8c7cc
}

.slider_box .mui-slider .mui-slider-group {
    font-size: 0;
    position: relative;
    -webkit-transition: all 0s linear;
    transition: all 0s linear;
    white-space: nowrap
}

.slider_box .mui-slider .mui-slider-group .mui-slider-item {
    font-size: 14px;
    position: relative;
    display: inline-block;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal;
    text-align: justify;
    text-align-last: justify;
    font-size: 0;
    letter-spacing: -3px;
}

.slider_box .mui-slider .mui-slider-group .mui-slider-item>a:not(.mui-control-item) {
    line-height: 0;
    position: relative;
    display: block
}

.slider_box .mui-slider .mui-slider-group .mui-slider-item img {
    width: 100%
}

.slider_box .mui-slider .mui-slider-group .mui-slider-item .mui-table-view:after,
.slider_box .mui-slider .mui-slider-group .mui-slider-item .mui-table-view:before {
    height: 0
}

.slider_box .mui-slider .mui-slider-group.mui-slider-loop {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}

.slider_box .mui-slider-title {
    line-height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    text-align: left;
    text-indent: 12px;
    opacity: .8;
    background-color: #000
}

.slider_box .mui-slider-indicator {
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: 0 0
}

.slider_box .mui-slider-indicator.mui-segmented-control {
    position: relative;
    bottom: auto
}

.slider_box .mui-slider-indicator .mui-indicator {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px 6px;
    cursor: pointer;
    border-radius: 50%;
    background: #aaa;
    -webkit-box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7);
    box-shadow: 0 0 1px 1px rgba(130, 130, 130, .7)
}

.slider_box .mui-slider-indicator .mui-active.mui-indicator {
    background: #fff
}

.slider_box .team_logo_box {
    width: 70px !important;
    display: inline-block;
    /*float: left;*/
    position: relative;
    /*margin: 0 5px;*/
    letter-spacing: 0;
}

.mui-bar-footer {
    bottom: 0;
    background: #fc3e3e;
    transition: all 0.5 linear;
}

.mui-bar {
    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    height: 44px;
    padding-right: 0px;
    padding-left: 0px;
    border-bottom: 0;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mui-bar-footer .mui-btn-hong-creat {
    width: 50%;
    line-height: 20px;
    position: relative;
    float: left;
}

.mui-bar-footer .mui-btn-hong-creat .ts {
    display: block;
    position: absolute;
    right: 10%;
    top: 5px;
    width: 29px;
    /*background: url(../img/tousu_22.png) no-repeat;*/
}

.mui-bar-footer .mui-btn-hong-creat .ts img {
    width: 100%;
    height: 100%;
}

.mui-btn-hong-creat .btn_title {
    height: 27px;
    line-height: 27px;
}

.blink {
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
}

.mui-btn-hong-creat p {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
}

@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 1px #fff, 0 0 5px #fff;
    }
    to {
        text-shadow: 0 0 10px #FF1177, 0 0 25px #FF1177;
    }
}

.video {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.video img {
    width: 100%;
    display: block;
}

.vs_box {
    width: 100%;
    height: 105px;
    position: relative;
    overflow: hidden;
}

.vs_box .vs_left {
    /*background: -webkit-linear-gradient( left,#154b81,#154b81 )*/
    width: 50%;
    float: left;
    background: url(../img/bgbgb_03.jpg) repeat-x;
    background-size: auto 75%;
    height: 100%;
    /*padding-left: 2%;*/
}

.vs_box .vs_right {
    /*background: -webkit-linear-gradient( left,#ccc,#000)*/
    width: 50%;
    float: left;
    background: url(../img/bgbgb_07.jpg) repeat-x;
    background-size: auto 75%;
    height: 100%;
    /*padding-right: 2%;*/
}

.vs_box .vs_center {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
    background: url(../img/wri_center_04.png) no-repeat top center;
    background-size: auto 75%;
    text-align: center;
}

.vs_box .vs_center p {
    color: #2c2c2c;
}

#like_game2 {
    width: 20px;
    margin: 0px auto;
    margin-top: 15px;
    text-align: center;
}

#like_game2 span {
    display: inline-block;
    width: 20px;
    height: 25px;
}

#like_game2 span.dota {
    background: url(../img/iconall_05.png) no-repeat;
    background-size: auto 100%;
}

#like_game2 span.lol {
    background: url(../img/iconall_03.png) no-repeat;
    background-size: auto 100%;
}

#like_game2 span.fengbao {
    background: url(../img/iconall_09.png) no-repeat;
    background-size: auto 100%;
}

#like_game2 span.csgo {
    background: url(../img/iconall_07.png) no-repeat;
    background-size: auto 100%;
}

.team_logo {
    width: 100px;
    /*padding: 15px;*/
    float: left;
    text-align: center;
    margin-top: 3px;
}

.team_logo .team_name {
    text-align: center;
    line-height: 36px;
}

.ob_title .team_logo .team_logo_box {
    width: 45px;
    margin: 0 auto;
    margin-top: 2px;
    border-radius: 50%;
    overflow: hidden;
    height: 45px;
    background: url(../img/team_logo_03.jpg) no-repeat center center;
    background-size: 100% auto;
}

.team_logo .team_logo_box {
    width: 70px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    height: 70px;
    background: url(../img/team_logo_03.jpg) no-repeat center center;
    background-size: 100% auto;
}

.team_logo .team_logo_box img {
    width: 100%;
    height: 100%;
}

.num {
    width: 20px;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-top: 18px;
}

.num p {
    width: 20px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
}

.vs_box .vs_right .team_logo {
    float: right;
}

.vs_box .vs_right .num {
    float: right;
}

.match_num {
    width: 150px;
    height: 25%;
    position: relative;
    bottom: 26px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
    line-height: 25px;
    z-index: 2;
    padding: 0;
    font-size: 12px;
    color: #969696;
    overflow: hidden;
}

.ob_con {
    height: 54px;
    width: 100%;
    background: #0f9d58;
    display: flex;
    text-align: center;
    line-height: 54px;
    color: #fff;
    font-size: 15px;
}

.ob_con .ob_title {
    width: 100px;
    float: left;
    border-right: none;
}

.ob_con .ob_msg1 {
    width: 40%;
    height: 54px;
    float: left;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    /*padding: 10px 0;*/
}

.ob_con .ob_msg1 p {
    flex: 1;
    line-height: 13px;
    font-size: 13px;
    margin-bottom: 0;
    text-align: left;
    text-indent: 0px;
    color: #fff;
    /*margin-left: -12px;*/
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    /* -webkit-touch-callout: none; */
    -webkit-user-select: none;
}

.chat_box {
    height: 300px;
    position: relative;
    overflow: hidden;
}

footer {
    position: absolute;
    width: 100%;
    height: 50px;
    min-height: 50px;
    /* z-index: 1000; */
    border-top: solid 1px #bbb;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    padding: 0px 50px;
    background-color: #fafafa;
}

.footer-left {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    padding: 12px 4px;
}

.footer-right {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0px;
    bottom: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
    padding: 12px 5px;
    display: inline-block;
}

.footer-center {
    height: 100%;
    padding: 5px 0px;
}

.footer-center [class*=input] {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.footer-center .input-text {
    background: #fff;
    border: solid 1px #ddd;
    padding: 10px !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-family: verdana !important;
    overflow: hidden;
}

.footer-center .input-sound {
    background-color: #eee;
}

.mui-content {
    height: 100%;
    padding: 0px 0px 50px 0px;
    overflow: auto;
    background-color: #eaeaea;
}

#msg-list {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.msg-item {
    padding: 8px;
    clear: both;
}

.msg-item .mui-item-clear {
    clear: both;
}

.msg-item .msg-user {
    width: 38px;
    height: 38px;
    border: solid 1px #d3d3d3;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    float: left;
    padding: 3px;
    color: #ddd;
}

.msg-item .msg-user-img {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
    text-align: center;
    float: left;
    color: #ddd;
}

.msg-item .msg-content {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #d3d3d3;
    background-color: #FFFFFF;
    color: #333;
    padding: 8px;
    vertical-align: top;
    font-size: 15px;
    position: relative;
    margin: 0px 8px;
    max-width: 75%;
    min-width: 35px;
    float: left;
}

.msg-item .msg-content .msg-content-inner {
    overflow-x: hidden;
}

.msg-item .msg-content .msg-content-arrow {
    position: absolute;
    border: solid 1px #d3d3d3;
    border-right: none;
    border-top: none;
    background-color: #FFFFFF;
    width: 10px;
    height: 10px;
    left: -5px;
    top: 12px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.msg-item-self .msg-user,
.msg-item-self .msg-content {
    float: right;
}

.msg-item-self .msg-content .msg-content-arrow {
    left: auto;
    right: -5px;
    -webkit-transform: rotateZ(225deg);
    transform: rotateZ(225deg);
}

.msg-item-self .msg-content,
.msg-item-self .msg-content .msg-content-arrow {
    background-color: #4CD964;
    color: #fff;
    border-color: #2AC845;
}

footer .mui-icon {
    color: #000;
}

footer .mui-icon:active {
    color: #007AFF !important;
}

footer .mui-icon-paperplane:before {
    content: "发送";
}

footer .mui-icon-paperplane {
    /*-webkit-transform: rotateZ(45deg);
				transform: rotateZ(45deg);*/
    font-size: 16px;
    word-break: keep-all;
    line-height: 100%;
    padding-top: 6px;
    color: rgba(0, 135, 250, 1);
}

#msg-sound {
    -webkit-user-select: none !important;
    user-select: none !important;
}

.rprogress {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 140px;
    height: 140px;
    margin-left: -70px;
    margin-top: -70px;
    b/* ackground-image: url(../img/arecord.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    display: none;
    -webkit-transition: .15s;
}

.rschedule {
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid rgba(0, 183, 229, 0.9);
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    margin-top: -23px;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.r-sigh {
    display: none;
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 46px;
    height: 46px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -23px;
    margin-top: -23px;
    text-align: center;
    line-height: 46px;
    font-size: 40px;
    font-weight: bold;
    color: #2187e7;
}

.rprogress-sigh {
    background-image: none !important;
}

.rprogress-sigh .rschedule {
    display: none !important;
}

.rprogress-sigh .r-sigh {
    display: block !important;
}

.rsalert {
    font-size: 12px;
    color: #bbb;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    width: 130px;
    margin: 5px 5px;
    padding: 5px;
    left: 0px;
    bottom: 0px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#h {
    background: #fff;
    border: solid 1px #ddd;
    padding: 10px !important;
    font-size: 16px !important;
    font-family: verdana !important;
    line-height: 18px !important;
    overflow: visible;
    position: absolute;
    left: -1000px;
    right: 0px;
    word-break: break-all;
    word-wrap: break-word;
}

.cancel {
    background-color: darkred;
}