html,
body {
    background-color: #ffffff;
    font-size: 14px;
}

.xyb {
    margin-top: 20px;
}

.mui-views,
.mui-view,
.mui-pages,
.mui-page,
.mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
}

.mui-pages {
    top: 44px;
    height: auto;
}

.mui-scroll-wrapper,
.mui-scroll {
    background-color: #efeff4;
}

.mui-page.mui-transitioning {
    -webkit-transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
}

.mui-page-left {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mui-ios .mui-page-left {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
}

.mui-navbar {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 10;
    height: 44px;
    background-color: #f7f7f8;
    background: url(../img/titlebg_01.jpg) no-repeat left top;
    background-size: 100% auto;
}

.mui-navbar .mui-bar {
    position: absolute;
    background: url(../img/titlebg_01.jpg) no-repeat left top;
    background-size: 100% auto;
    text-align: center;
    color: #ffffff;
}

.mui-navbar .mui-title {
    color: #ffffff;
}

.mui-bar .mui-btn-nav.mui-pull-left .mui-icon-left-nav {
    color: #fff;
    margin-right: -3px;
}

.mui-android .mui-navbar-inner.mui-navbar-left {
    opacity: 0;
}

.mui-ios .mui-navbar-left .mui-left,
.mui-ios .mui-navbar-left .mui-center,
.mui-ios .mui-navbar-left .mui-right {
    opacity: 0;
}

.mui-navbar .mui-btn-nav {
    -webkit-transition: none;
    transition: none;
    -webkit-transition-duration: .0s;
    transition-duration: .0s;
}

.mui-navbar .mui-bar .mui-title {
    display: inline-block;
    width: auto;
}

.mui-page-shadow {
    position: absolute;
    right: 100%;
    top: 0;
    width: 16px;
    height: 100%;
    z-index: -1;
    content: '';
}

.mui-page-shadow {
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, .01) 50%, rgba(0, 0, 0, .2) 100%);
}

.mui-navbar-inner.mui-transitioning,
.mui-navbar-inner .mui-transitioning {
    -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
    transition: opacity 300ms ease, transform 300ms ease;
}

.mui-page {
    display: none;
}

.mui-pages .mui-page {
    display: block;
}

.mui-page .mui-table-view:first-child {
    margin-top: 15px;
}

.mui-page .mui-table-view:last-child {
    margin-bottom: 30px;
}

.mui-table-view {
    margin-top: 20px;
}

.mui-table-view span.mui-pull-right {
    color: #999;
}

.mui-table-view-divider {
    background-color: #efeff4;
    font-size: 14px;
}

.mui-table-view-divider:before,
.mui-table-view-divider:after {
    height: 0;
}

.head {
    height: 40px;
}

#head {
    line-height: 40px;
}

.head-img {
    width: 40px;
    height: 40px;
}

#head-img1 {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 40px;
    height: 40px;
}

.update {
    font-style: normal;
    color: #999999;
    margin-right: -25px;
    font-size: 15px
}

.mui-fullscreen {
    position: fixed;
    z-index: 20;
    background-color: #000;
}

.mui-ios .mui-navbar .mui-bar .mui-title {
    position: static;
}


/*问题反馈在setting页面单独的css*/

#feedback .mui-popover {
    position: fixed;
}

#feedback .mui-table-view:last-child {
    margin-bottom: 0px;
}

#feedback .mui-table-view:first-child {
    margin-top: 0px;
}


/*问题反馈在setting页面单独的css==end*/

.mui-table-view-cell>a[btn].mui-active {
    background-color: #fd8484
}

.mui-segmented-control1 {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #fc3e3e;
    border-radius: 0px;
    background-color: transparent;
    -webkit-touch-callout: none
}

.mui-segmented-control1.mui-segmented-control-vertical1 {
    border-collapse: collapse;
    border-width: 0;
    border-radius: 0
}

.mui-segmented-control1.mui-segmented-control-vertical1 .mui-control-item1 {
    display: block;
    border-bottom: 1px solid #c8c7cc;
    border-left-width: 0
}

.mui-segmented-control1 .mui-control-item1 {
    background: #ffffff;
    line-height: 38px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fc3e3e;
    border-color: #fc3e3e;
    border-left: 1px solid #fc3e3e
}

.mui-segmented-control1 .mui-control-item:first-child {
    border-left-width: 0
}

.mui-segmented-control1 .mui-control-item1.mui-active {
    color: #fff;
    background-color: #fc3e3e;
}

.mui-control-content1 {
    display: none;
}

.mui-control-content1.active {
    display: block;
}

.face_con {
    overflow: hidden;
    background: url(../../assets/img/setting_02.jpg) no-repeat;
    background-size: 100%;
    /*margin-bottom: 15px;*/
}

#face_box {
    width: 100px;
    height: 100px;
    background: url(../../assets/img/setting_03.jpg) no-repeat center center #ffffff;
    background-size: 50% auto;
    margin: 20px auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #bab9b6;
    overflow: hidden;
}

#face_box img {
    width: 100%;
}

#face_box canvas {
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #bab9b6;
}

canvas {
    width: 100%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 1px solid #bab9b6;
}

#showEdit {
    background: url(../../assets/img/heitou_07.png);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 99999;
    display: none;
}

#showEdit .mui-bar {
    background: none;
    position: absolute;
    top: 0;
    z-index: 9999999999;
}

#showEdit .mui-icon-close_btn {
    width: 45px;
}

#showEdit .mui-icon-close_btn img {
    width: 100%;
}

#showEdit .mui-icon-check_btn {
    width: 45px;
}

#showEdit .mui-icon-check_btn img {
    width: 100%;
}

#report {
    /*padding: 30px;*/
    text-align: center;
}

#report img {
    width: 100%;
    /*margin-top: 55px;*/
}

.mui-input-group {
    background-color: transparent !important;
}

.mui-input-group label {
    width: 32%;
    line-height: 20px;
    font-size: 14px;
    padding: 11px 14px;
}

.mui-input-group label.iconuser {
    background: url(../../assets/img/login_icon_03.png) no-repeat 15px center;
    background-size: auto 60%;
}

.mui-input-group label.iconpassword {
    background: url(../../assets/img/login_icon_07.png) no-repeat 17px center;
    background-size: auto 65%;
}

.mui-input-group .mui-input-row {
    width: 100%;
    margin: 0 auto;
    /*background: url(../../assets/img/baitou_03.png);*/
    /*border-radius: 35px;
                    -moz-border-radius: 35px;
                    -webkit-border-radius: 35px;*/
    font-size: 14px;
    /*margin-bottom: 10px;*/
    border-bottom: 1px solid #c8c7cc;
}

.text_show {
    height: 40px;
    line-height: 40px;
    outline: 0;
    -webkit-appearance: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    float: right;
    width: 67%;
    color: #c3c3c3;
    background: url(../../assets/img/arrow_03.jpg) 95% center no-repeat;
    background-size: auto 40%;
}

.mui-input-group .mui-input-row.text_area {
    width: 95%;
    margin: 0 auto;
    height: auto;
    min-height: 40px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 1px solid #c8c7cc;
    margin-bottom: 20px;
    margin-top: 10px;
}

.mui-input-group:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.mui-input-group:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.mui-input-group .mui-input-row:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 15px;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.mui-input-group .mui-input-row textarea {
    color: #000000;
}

.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
    width: 67%;
    height: 38px;
}

input::-webkit-input-placeholder {
    color: #c3c3c3;
}

.mui-input-row .mui-input-clear~.mui-icon-clear,
.mui-input-row .mui-input-password~.mui-icon-eye,
.mui-input-row .mui-input-speech~.mui-icon-speech {
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    color: red;
}

.mui-btn-cheng,
input[type=submit] {
    color: #fff;
    border: 1px solid #fc3e3e;
    background-color: #fc3e3e
}

.mui-btn.mui-btn-cheng.mui-active:enabled,
.mui-btn.mui-btn-cheng:enabled:active {
    color: #fff;
    border: 1px solid #ff9999;
    background-color: #ff9999
}

.mui-checkbox {
    text-align: center;
    width: 35px;
    float: left;
    margin-top: 7px;
}

.mui-checkbox span {
    display: inline-block;
    width: 25px;
    height: 25px;
}

.mui-checkbox span.dota {
    background: url(../../assets/img/iconall_05.png) no-repeat;
    background-size: auto 100%;
}

.mui-checkbox span.lol {
    background: url(../../assets/img/iconall_03.png) no-repeat;
    background-size: auto 100%;
}

.mui-checkbox span.fengbao {
    background: url(../../assets/img/iconall_09.png) no-repeat;
    background-size: auto 100%;
}

.mui-checkbox span.csgo {
    background: url(../../assets/img/iconall_07.png) no-repeat;
    background-size: auto 100%;
}

.mui-checkbox input[type=checkbox]:before {
    content: ''
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
    position: absolute;
    top: 12px;
    right: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 0;
    outline: 0 !important;
    background-color: transparent;
    -webkit-appearance: none;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
    /*top: 44px;*/
}

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
    /* color: #007aff; */
    color: #fc4e3e;
}

.mui-checkbox input[type=checkbox]:before,
.mui-radio input[type=radio]:before {
    font-family: Muiicons;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.1;
    text-decoration: none;
    color: #aaa;
    border-radius: 0;
    background: 0 0;
    -webkit-font-smoothing: antialiased;
}

.yz {
    width: 100%;
}

.yz label {
    width: 27%;
    float: left;
}

.yz .mui-input {
    width: 40%;
    float: left;
}

.yz span.dang {
    display: block;
    width: 10px;
    margin-top: 7px;
    float: left;
    height: 70%;
    border-left: 1px solid #afc4d7;
    padding: 0;
}

.yz .mui-btn {
    width: 28%;
    float: left;
    font-size: 12px;
    padding: 10px 10px;
    margin-top: 2px;
}

#head-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}